:root {
  --c-blue: #341cac;
}
.cardLuanch {
  width: 280px;
  /* display: block; */
  margin: 10px auto;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: 0.25s;
  height: 280px;
  background-color: red;
  padding-bottom: 50px;
}
.cardLuanch:hover {
  /* box-shadow: 10px 5px 40px 20px darken(#942b2b, 10%); */
  cursor: pointer;
  background-color: #341cac;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.button-primary {
  transform: translate(10px, 0);
}

.cardLuanch-header {
  height: 150px;
  /* width: 100%; */
  /* padding: 15px; */
  /* background-size: cover; */
  color: #fff;
}

.cardLuanch-header--title {
  text-transform: uppercase;
  margin: 0;
  
}

.cardLuanch-body {
  /* padding: 15px; */
  /* background-color: rgb(238, 31, 31); */
  width: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  /* color: grey; */
  padding-left: 10%;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
  color: black;
}
.body-title {
  color: black;
  padding-left: 10%;
  font-size: 120%;
  margin-bottom: 10%;
}

.button-primary {
  /* border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: var(--c-blue);
  font-size: 15px;
  transition: 0.25s; */
  margin-left: 10%;
  justify-self: end;
}
/* .button-primary-i {
  padding-right: 4px;
} */

/* .designer-link {
  color:#fff;
  text-align:center;
  fon-size: 12px;
  text-decoration: none;
  display:block;
} */
