.navbar {
  /* background-color: gray; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  margin: 10px;
  font-size: 130%;
  /* opacity: 0.6; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  /* transform: translateY(-100%); */
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar:hover {
  transform: translateY(0);
  opacity: 1;
  background-color: #black;
}
.nav1 {
  color: red;
  font-size: 120%;
}
.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
}
li {
  width: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  margin: 5px;
  justify-content: center;
  text-align: center;
}
a {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
a:hover {
  color: #090a28;
}
li:hover {
  background-color: #fc910d;
}
ul {
  list-style-type: none;
  align-items: center;
}
