:root {
  --color-1: #090a28;
  --color-2: #fcb13e;
  --color-3: #fc910d;
  --color-4: #1B02A3;
  --color-5: #00C0F9;
  --color-6: #DC00FE;
  --color-7: #BC00FE;

}
.container {
  /* margin-top: 100px; */
}
.container-1-home {
  /* padding-top: 100px; */
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

}
.spacex-logo{
  width: 40%;
  z-index: 5;
}
.bg-home{
  width: 100%;
  position: absolute;
}
.container-quote{
  height: 100vh;
  width: 100vw;
  background-color:#eeeeee;
  color: black;
  font-size: 1.5em;
  display: flex;

}
.container-quote-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote{
  background-color: var(--color-2);
  width: 40%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  text-align: center;
}
.open-symbol-quote{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
}
.close-symbol-quote{
  display: flex;
  justify-content: flex-end;
}
.icon-quote{
  width: 20%;
}
.name-quote{
  font-size: 1.1rem;
}
.container-2 {
  color:black;
  height: 100vh;
  width: 100vw;
  background-color:white;
  display: flex;
  align-items: center;
}
.items-cont2{
  width: calc(100% / 2);
  display: flex;
  justify-content: flex-end;
}
.founded-1{
  width: 100%;
  height: 60%;
  padding: 6%;
}
.bar-content{
  width: 90%;
  height: 1%;
  background-color: #eeeeee;
}
.elonmusk{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.img-elonmusk{
  height: 100vh;
  width: 100%;
}

.container-5{
  color:black;
  height: 100vh;
  width: 100vw;
  background-color:white;
  display: flex;
}
.items-cont5{
  width: calc(100% / 2);
  display: flex;
}
.cont5-twoCl{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.founded-2{
  width: 100%;
  height: 60%;
  padding: 6%;
  align-items: center;
}
.detail-founded-2 h3{
  color: black;
}
.detail-founded-2 h1{
  color: gray;
}
.container-3{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.bg-cont3{
  width: 100%;
  height: calc(100vh / 2);
}
.bg-cont3-top{
  width: 100%;
  height: 100%;
  background: #eeeeee;
}
.bg-cont3-bottom{
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
}
.card-board{
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 30%;
  align-items: flex-start;

}
.text-cont3{
  width: calc(100% / 3);
  margin: 10px;
  text-align: center;
}
.pic-board{
  width: 50%;
}
.container-4{
  background-color: black;
  color: white;
  width: 100vw;
  display: flex;
}
.detail-cont4{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adress{
  width: 20%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.icon{
  display: flex;
  width: 100vw;
}
.icon-social{
  width: 40%;
}
img{
  object-fit: cover;
}
