.container{
    /* margin-top: 100px; */
}
.container-1-luanch {
    /* padding-top: 100px; */

    width: 100vw;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
  }